@model boards

@{
    ViewData["Title"] = "Details";
}

<style>
    table.table2 {
        border-collapse: separate;
        border-spacing: 1px;
        text-align: left;
        line-height: 1.5;
        border-top: 1px solid #ccc;
        margin: 20px 10px;
    }

        table.table2 tr {
            width: 100px;
            padding: 10px;
            font-weight: bold;
            vertical-align: top;
            border-bottom: 1px solid #ccc;
        }

        table.table2 td {
            width: 500px;
            padding: 10px;
            vertical-align: top;
            border-bottom: 1px solid #ccc;
        }
</style>

<body>
        <table style="padding-top:50px" align=center width=700 border=0 cellpadding=2>
            <tr>
                <td height=20 align=center bgcolor=#ccc><font color=white> 자세히</font></td>
            </tr>
            <tr>
                <td bgcolor=white>
                    <table class="table2">
                        <tr>
                            <td>작성자</td>
                        <td> @Html.DisplayFor(model => model.Name) </td>
                        </tr>

                        <tr>
                            <td>제목</td>
                        <td>@Html.DisplayFor(model => model.Title)</td>
                        </tr>

                        <tr>
                            <td>내용</td>
                        <td>@Html.DisplayFor(model => model.Detail)</td>
                        </tr>
                    </table>

                    <center>
                    <input type="submit" onclick="location.href='/Home'" value="목록"> <a asp-action="Edit" asp-route-id="@Model?.No"><input type="submit" value="수정"></a>
                    </center>
                </td>
            </tr>
        </table>
</body>
